<ion-header>
  <ion-toolbar>
    <ion-title>lista_de_Paises_de_todo_el_Mundo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
      <ion-img src="../assets/imagen/bandera-afganistan.png"></ion-img>
    </ion-avatar>
    <ion-label>
      <h1>
        Afghanistan
      </h1>
      <h2>hermanita</h2>
      <p>como estas </p>
    </ion-label>
    </ion-item>

    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/African.jpg"></ion-img>
    </ion-avatar>
      <h1>
        African Union
      </h1>
    </ion-label>
    </ion-item>
    
    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/Aland.png"></ion-img>
    </ion-avatar>
      <h1>
        Aland
      </h1>
    </ion-label>
    </ion-item>
    
    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/Albania.png"></ion-img>
    </ion-avatar>
      <h1>
        Albania
      </h1>
    </ion-label>
    </ion-item>
    
    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/Argelia.png"></ion-img>
    </ion-avatar>
      <h1>
        Algeria
      </h1>
    </ion-label>
    </ion-item>
    
    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/Andorra.gif"></ion-img>
    </ion-avatar>
      <h1>
        Andorra
      </h1>
    </ion-label>
    </ion-item>
    
    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/Angola.png"></ion-img>
    </ion-avatar>
      <h1>
        Angola
      </h1>
    </ion-label>
    </ion-item>
    
    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/Antigua.png"></ion-img>
    </ion-avatar>
      <h1>
        Antigua and Barbua
      </h1>
    </ion-label>
    </ion-item>
    
    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/Argentina.jpg"></ion-img>
    </ion-avatar>
      <h1>
        Argentina Long
      </h1>
    </ion-label>
    </ion-item>
    
    <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/Armenia.gif"></ion-img>
    </ion-avatar>
      <h1>
        Armenia
      </h1>
    </ion-label>
    </ion-item>
     <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/paul.jpeg"></ion-img>
    </ion-avatar>
      <h1>
        Aruba
      </h1>
    </ion-label>
    </ion-item>
     <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/paul.jpeg"></ion-img>
    </ion-avatar>
      <h1>
        Australia
      </h1>
    </ion-label>
    </ion-item>
 <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/paul.jpeg"></ion-img>
    </ion-avatar>
      <h1>
        Austria
      </h1>
    </ion-label>
    </ion-item>
     <ion-item>
     
    <ion-label> 
    <ion-avatar slot="start">
      <ion-img src="../assets/imagen/paul.jpeg"></ion-img>
    </ion-avatar>
      <h1>
        Azerbaidjan
      </h1>
    </ion-label>
    </ion-item>

    
  </ion-list>
</ion-content>
