<ion-app>
  <ion-split-pane when="sm" contentId="main-content">
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
              </ion-menu-toggle>
            </ion-buttons>
          </ion-toolbar>          
        </ion-header>
        <ion-content class="ion-padding">
            <h1>Lista de Paises de todo el Mundo</h1>
         
        </ion-content>
      </div>

  </ion-split-pane>
</ion-app>